<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="https://pbs.twimg.com/profile_images/378800000535342113/cca80cf79b8810fe7e0e63420a40c424_400x400.png" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/posts" class="pa3 no-underline db">Posts</a></li>

		<li><a href="/focus" class="pa3 no-underline db">Focus</a></li>

	</ul>

</nav>
